.list {list-style: none;
    padding: 0;
    margin: 0;}

.item {display: flex;
    align-items: center;
    margin-bottom: 20px;}

.link {display: flex;
    text-decoration: none;
    color: inherit;}

.poster {width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;}

.info {display: flex;
    flex-direction: column;
    justify-content: center;}

.title {font-size: 18px;
    font-weight: bold;
    margin: 0;}